<html>
<head>
    <style>
        @font-face {
            font-family: 'Cairo';
            src: url('<%= cairoFontDataUri %>') format('truetype');
        }
    
        body {
            font-family: "Cairo", sans-serif;
            background-color: #f2f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    
        .ticket {
            background-color: white;
            width: 5cm;
            height: 15cm;
            overflow: hidden;
            margin: 20px auto;
            display: flex;
            flex-direction: column; /* Use flexbox to arrange content vertically */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #384B70;
            color: white !important;
            flex-shrink: 0; /* Prevent shrinking */
        }
    
        .company-info {
            text-align: center;
            max-width: 60%;
        }
    
        .header .logo img {
            width: 50px;
        }
    
        .company-info h2 {
            margin: 0;
            font-size: 10px;
        }
    
        .company-info p {
            margin: 0;
            font-size: 10px;
            font-weight: bold;
        }
    
        .ticket-info {
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ddd;
            flex-grow: 1; /* Allow this section to grow */
            text-align: right;
        }
    
        .ticket-number {
            color: #d42f2f;
            font-size: 16px;
            font-weight: bold;
        }

        .details {
            text-align: right;
        }
    
        .details p {
            margin: 10px 0;
            font-size: 10px;
        }
    
        .middle-section {
            padding: 5px;
            text-align: center;
            background-color: #f7f7f7;
            flex-grow: 1; /* Allow this section to grow */
        }
    
        .middle-section img {
            width: 100%;
            margin-top: 5px;
        }
    
        .footer {
            background-color: #384B70;
            color: white !important;
            padding: 5px;
            text-align: center;
            font-size: 10px;
            flex-shrink: 0; /* Prevent shrinking */
        }
    </style>    
</head>
<body>
    <div class="ticket">
        <div class="header">
            <div class="company-info">
                <h2>شركة الاتحاد العربي للنقل والسياحة</h2>
                <p>Sbus</p>
            </div>
            <div class="logo">
                <img src="<%= logoDataUri %>" alt="Company Logo"> <!-- Replace with your logo -->
            </div>
        </div>
        
        <div class="ticket-info">
            <div class="ticket-number">
                <span class="label"><%= package.serial %></span>
            </div>
            <div class="details">
                <p><strong>تاريخ السفر:</strong> <%= package.date %></p>
                <p><%= eventTime %> : <strong>ميعاد السفر</strong></p>
                <p><strong>رقم الطرد:</strong> <%= package.packageNumber %></p>
                <p><strong>اسم الراسل:</strong> <%= package.senderName %></p>
                <p><strong>رقم تيليفون الراسل:</strong> <%= package.senderPhoneNumber %></p>
                <p><strong>اسم المستلم:</strong> <%= package.recieverName %></p>
                <p><strong>رقم تيليفون المستلم:</strong> <%= package.recieverPhoneNumber %></p>
            </div>
        </div>

        <div class="middle-section">
            <p>شاملة الضريبة</p>
            <p>رجاء التأكد من ميعاد السفر</p>
            <img src="<%= busDataUri %>" alt="Bus Image"> <!-- Replace with the bus image -->
        </div>

        <div class="footer">
            <p>احجز تذكرتك في أقل من دقيقة</p>
            <p>مع تمنياتنا لكم برحلة سعيدة</p>
        </div>

        <div class="ticket-info">
            <div class="ticket-number">
                <span class="label"><%= package.serial %></span>
            </div>
            <div class="details">
                <p><strong>تاريخ السفر:</strong> <%= package.date %></p>
                <p><%= eventTime %> : <strong>ميعاد السفر</strong></p>
                <p><strong>رقم الطرد:</strong> <%= package.packageNumber %></p>
            </div>
        </div>

    </div>
</body>
</html>
