<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/styles.css">

<body class="d-flex flex-column vh-100">
    <div>
        <h1><%= event.name %></h1>
        <h1><%= event.date %></h1>
        <h1><%= event.time %></h1>
        <h1><%= event.driverName %></h1>
        <h1><%= event.driverPhoneNumber %></h1>
        <h1><%= event.busPlateNumber %></h1>
        <h1><%= event.busPhoneNumber %></h1>
        <h1><%= event.type %></h1>
    </div>
</body>