  <% layout('layouts/boilerplate')%>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/nav.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <h1 class="btn-login">تعديل ميعاد</h1>

  <form action="/frontEvents/update-event/<%= event._id %>" method="POST">

    <div class="mb-3">
      <label class="form-label" for="event">العنوان :</label>
      <input class="form-control" type="text" name="event" id="event" value="<%= event.title %>" required>
      <div class="valid-feedback">
        يبدو جيدا
        </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="time">اختر الوقت:</label>
      <input class="form-control" type="time" name="time" id="time" value="<%= event.time %>" required>
      <div class="valid-feedback">
        يبدو جيدا
        </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="driverName">اسم السائق :</label>
      <input class="form-control" type="text" name="driverName" id="driverName" value="<%= event.driverName %>" required>
      <div class="valid-feedback">
        يبدو جيدا
        </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="driver-phone-number">رقم تليفون السائق :</label>
      <input class="form-control" type="text" name="driverPhoneNumber" id="driverPhoneNumber" value="<%= event.driverPhoneNumber %>" required>
      <div class="valid-feedback">
        يبدو جيدا
        </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="bus-plate-number">رقم لوحة الباص :</label>
      <input class="form-control" type="text" name="busPlateNumber" id="busPlateNumber" value="<%= event.busPlateNumber %>" required>
      <div class="valid-feedback">
        يبدو جيدا
        </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="bus-phone-number">رقم تليفون الباص :</label>
      <input class="form-control" type="text" name="busPhoneNumber" id="busPhoneNumber" value="<%= event.busPhoneNumber %>" required>
      <div class="valid-feedback">
        يبدو جيدا
        </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="notice">الملاحظات :</label>
      <textarea class="form-control" name="notice" id="notice" rows="3"><%= event.notice %></textarea>
      <div class="valid-feedback">
        يبدو جيدا
        </div>
    </div>

    <button class="btn" type="submit">تعديل ميعاد</button>
  </form>

  <br>
  <a href="/frontEvents">العودة للخلف</a> <!-- Link to go back to calendar -->
