<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/nav.css">

<body style="text-align: right;" class="d-flex flex-column">
    <h1 class="btn-login">تذكرة جديدة</h1>
    
    <form action="/tickets/add-ticket" method="POST">
        <label class="form-label" for="ticketFromStation">محطة اصدار التذكرة</label>
        <select class="form-select" id="ticketFromStation" name="ticketFromStation">
            <% for(ticketSetting of ticketSettings) { %>
                <% if(ticketSetting.ticketFromStation === "") { %>
                    
                <% } else { %>
                    <option value="<%= ticketSetting.ticketFromStation %>"><%= ticketSetting.ticketFromStation %></option>
                <% } %>
            <% } %>
        </select>

        <label class="form-label" for="fromStation">محطة الركوب </label>
        <select class="form-select" id="fromStation" name="fromStation">
            <% for(ticketSetting of ticketSettings) { %>
                <% if(ticketSetting.fromStation === "") { %>
                    
                <% } else { %>
                    <option value="<%= ticketSetting.fromStation %>"><%= ticketSetting.fromStation %></option>
                <% } %>
            <% } %>
        </select>

        <label class="form-label" for="clientName">اسم العميل</label>
        <input type="text" id="clientName" name="clientName" class="form-control" placeholder="مثال: محمد احمد خالد">

        <label class="form-label" for="clientPhoneNumber">رقم تيليفون العميل</label>
        <input type="text" id="clientPhoneNumber" name="clientPhoneNumber" class="form-control" placeholder="مثال: 01085901353">

        <label class="form-label" for="ticketClass">نوع الخدمة</label>
        <select class="form-select" id="ticketClass" name="ticketClass">
            <option value="ايكونومي">ايكونومي</option>
            <option value="في اي بي">في اي بي</option>
            <option value="فيرست كلاس">فيرست كلاس</option>
        </select>

        <label class="form-label" for="price">قيمة التذكرة</label>
        <select class="form-select" id="price" name="price">
            <% for(ticketSetting of ticketSettings) { %>
                <% if(ticketSetting.price === null) { %>
                    
                <% } else { %>
                    <% price = ticketSetting.price / 2 %>
                    <option value="<%= price %>"><%= price %></option>
                <% } %>
            <% } %>
        </select>

        <label class="form-label" for="cardType">نوع الكارنيه</label>
        <select class="form-select" id="cardType" name="cardType">
            <% for(ticketSetting of ticketSettings) { %>
                <% if(ticketSetting.cardType === "") { %>
                    
                <% } else { %>
                    <option value="<%= ticketSetting.cardType %>"><%= ticketSetting.cardType %></option>
                <% } %>
            <% } %>
        </select>

        <label class="form-label" for="cardNumber">رقم الكارنيه</label>
        <input class="form-control" type="number" id="cardNumber" name="cardNumber" placeholder="مثال: 332489">

        <input type="hidden" name="eventDate" value="<%= eventDate %>">
        <input type="hidden" name="eventTime" value="<%= eventTime %>">
        <input type="hidden" name="eventId" value="<%= eventId %>">
        <input type="hidden" name="seatNumber" value="<%= seatNumber %>">
        <select hidden id="type" name="type">
            <option selected value="نصف تذكرة">نصف تذكرة</option>
        </select>
        <button type="submit" class="btn btn-login">حفظ</button>
    </form>
</body>