<% layout('layouts/boilerplate') %>

<div class="service-text">

    <h1>لوحة التحكم</h1>

    <h2>خدماتك</h2>

</div>

<div class="service-container"></div>

    <% for(let fullService of fullServices) { %>
    
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid service-img" alt="" src="<%=fullService.image%>">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= fullService.title %> </h5>
                            <p class="card-text"><%= fullService.description %></p>
                            <p class="card-text">
                                <small class="text-muted"><%= fullService.location%></small>
                            </p>
                            <a href="/fullServices/admins/<%= fullService._id %>/edit" class="btn btn-info">تعديل</a>
                        </div>
                    </div>
                </div>
            </div>
    
    <% } %>

    <% for(let halfService of halfServices) { %>
    
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid service-img" alt="" src="<%=halfService.image%>">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= halfService.title %> </h5>
                            <p class="card-text"><%= halfService.description %></p>
                            <p class="card-text">
                                <small class="text-muted"><%= halfService.location%></small>
                            </p>
                            <a href="/halfServices/admins/<%= halfService._id %>/edit" class="btn btn-info">تعديل</a>
                        </div>
                    </div>
                </div>
            </div>
    
        <% } %>

</div>

<div class="service-text"></div>

    <h2>طرودك</h2>

</div>

<div class="service-container"></div>

    <% for(let package of packages) { %>
    
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid service-img" alt="" src="<%=package.image%>">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= package.title %> </h5>
                            <p class="card-text"><%= package.description %></p>
                            <p class="card-text">
                                <small class="text-muted"><%= package.location%></small>
                            </p>
                            <a href="/packages/admins/<%= package._id %>/edit" class="btn btn-info">تعديل</a>
                        </div>
                    </div>
                </div>
            </div>
    
        <% } %>

</div>